In [2]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pymongo

In [3]:
urx="https://mars.nasa.gov/news/"
html = requests.get(urx)
html

In [4]:
bsobj = bs(html.content, "html.parser")

In [5]:
result_features = bsobj.find_all('div', class_="features")

In [6]:
result_titles=result_features[0].find_all("div",class_="content_title")
result_parag=result_features[0].find_all("div",class_="rollover_description_inner")

In [7]:
# Loop through returned results
title_list=[]
parag_list=[]
for result_t in result_titles:
    title_list.append(result_t.a.text)       
for result_p in result_parag:
    parag_list.append(result_p.text)

In [8]:
news_title=[]
title_list
for title in title_list:
    news_title.append(title.strip("\n"))
news_title

['NASA Invites Students to Name Mars 2020 Rover',
 "NASA's Curiosity Mars Rover Finds a Clay Cache",
 'Why This Martian Full Moon Looks Like Candy',
 'NASA Garners 7 Webby Award Nominations',
 "NASA's Opportunity Rover Mission on Mars Comes to End",
 "NASA's InSight Places First Instrument on Mars"]

In [9]:
news_p=[]
parag_list
for parag in parag_list:
    news_p.append(parag.strip("\n"))
news_p

["Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.",
 'The rover recently drilled two samples, and both showed the highest levels of clay ever found during the mission.',
 "For the first time, NASA's Mars Odyssey orbiter has caught the Martian moon Phobos during a full moon phase. Each color in this new image represents a temperature range detected by Odyssey's infrared camera.",
 'Nominees include four JPL projects: the solar system and climate websites, InSight social media, and a 360-degree Earth video. Public voting closes April 18, 2019.',
 "NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.",
 'In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.']

# JPL Nasa Gov.

In [10]:
!which chromedriver

/usr/local/bin/chromedriver

In [11]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [12]:
url = 'http://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [13]:
htmlx = browser.html
soup = bs(htmlx, 'html.parser')

In [14]:
result_dos = soup.find_all(class_="carousel_item")
result_tres=result_dos[0]

In [15]:
result_tres = soup.find(class_="button fancybox")
link=result_tres["data-fancybox-href"]
featured_image_url='https://www.jpl.nasa.gov/' + link
featured_image_url

'https://www.jpl.nasa.gov//spaceimages/images/mediumsize/PIA16815_ip.jpg'

# Weather in Mars

In [16]:
urt="https://twitter.com/marswxreport?lang=en"
htmlt = requests.get(urt)
htmlt

In [17]:
sopa = bs(htmlt.content, "html.parser")

In [18]:
result_twit = sopa.find('div', class_="js-tweet-text-container")
result_twitter=result_twit.text
mars_wea=result_twitter.split("\n")
pressure=(mars_wea[3])[0:20]
mars_weather=mars_wea[1]+", "+mars_wea[2]+", "+pressure
mars_weather

'InSight sol 321 (2019-10-22) low -102.9ºC (-153.2ºF) high -24.6ºC (-12.3ºF), winds from the SSE at 4.8 m/s (10.8 mph) gusting to 18.6 m/s (41.6 mph), pressure at 7.10 hPa'

# Mars Facts (Pandas)

In [19]:
urv="https://space-facts.com/mars/"

In [20]:
tables = pd.read_html(urv)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [21]:
mars_info=tables[1]
mars_facts=mars_info[0:6]
mars_facts.columns=["Features","Mars Facts"]
mars_facts=mars_facts.set_index(["Features"])
mars_facts

                                         Mars Facts
Features
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)

In [22]:
html_table = mars_facts.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars Facts</th>\n    </tr>\n    <tr>\n      <th>Features</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres - Dictionaries

In [23]:
urr="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
htmlr = requests.get(urr)
htmlr

In [24]:
suppe = bs(htmlr.content, "html.parser")
result_dict = suppe.find_all('a', class_="itemLink product-item")

In [43]:
d={}
hemisphere_images_url=[]
for result in result_dict:
        d["title"]=result.find('h3').text
        d["img_url"]='https://astrogeology.usgs.gov' + result["href"]
        hemisphere_images_url.append(d.copy())

In [44]:
hemisphere_images_url

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'}]

# Mongo DB & Flask

In [118]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)